<h1> This is your cart</h1>
{{ id }}<br>
these are items: {{ items }}
<div>
  <table>
    <thead>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </thead>
    <tbody>
    {{# each items}}
      <tr>
        <td>{{ this.product.name }}</td>
        <td>{{ this.quantity }}</td>
        <td>{{ format-currency this.current_price }}</td>
      </tr>
      {{/ each}}
    </tbody>
  </table>
</div>
