<h1> This is your cart</h1>
{{ id }}<br>
<div>
  <table>
    <thead>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </thead>
    <tbody>
    {{# each items}}
      <tr>
        <td>{{ this.product.name }}</td>
        <td>{{input type="number" value=quantity min=1}}</td>
        <td>{{ format-currency this.subtotal }}</td>
      </tr>
      {{/ each}}
      <tr>
        <td><strong>Subtotal</strong></td>
        <td></td>
        <td> {{ format-currency subtotal }} </td>
      </tr>
    </tbody>
  </table>
</div>
