<h1> This is your cart</h1>
<div class='cart'>
  <table class='table table-hover'>
    <thead>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Subtotal</th>
      <th></th>
    </thead>
    <tbody>
      {{# each items}}
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ quantity }}
          <button {{ action 'add' this }}>+</button>
          <button {{ action 'subtract' this }}>-</button>
          </td>
          <td>{{ format-currency this.current_price }}</td>
          <td>{{ format-currency this.subtotal }}</td>
          <td><button href="#" {{ action 'removeItem' this }}>Remove</button></td>
        </tr>
      {{/ each}}
      <tr>
        <td><strong>Total</strong></td>
        <td></td>
        <td></td>
        <td> {{ format-currency total }} </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  {{# link-to 'cart.checkout' class='btn btn-default' }}Checkout{{/link-to}}
</div>

{{ outlet "checkout" }}