<div>
  <h1>{{ customer_name }} <small>{{ email }}</small></h1>
  <ul>
    <li>Total: {{ format-currency total}}</li>
    <li>Status: {{ status }}</li>
    <li>credit card: {{ credit_card}}</li>
  </ul>
  <ul>
    {{# each items}}
    <li>{{ this }}</li>
    {{/each}}
  </ul>
</div>