<div class='row'>
  <div class='col-lg-6'>
    <h1>{{ name }}
      <small class='muted'>{{ format-currency price }}</small>
    </h1>
  </div>
  <div class='col-lg-2'>
    <a href="#" {{ action 'addToCart' this }}>Add To Cart!</a>
  </div>
<div>

<div class='row'>
  <div class='col-lg-8'>
    <img {{ bind-attr src=image }} class='thumbnail col-lg-12' />
  </div>
  <div class='col-lg-4'>
    {{ description }}
  </div>
</div>