<h1>Edit Product</h1>
<div class='form'>
  <div class='form-group'>
    <label for="name">Name:</label>
    {{ input value=name }}
  </div>
  <div class='form-group'>
    <label for="name">Price:</label>
    {{ input type="number" value=price }}
  </div>
  <div class='form-group'>
    <label for="name">Description:</label>
    {{ textarea value=description rows=10 cols=100 }}
  </div>
  <div class='form-group'>
    <label for="name">Image URL:</label>
    {{ textarea value=image rows=1 cols=100}}
  </div>
  <div class='form-group'>
    <label for="name">Avatar URL:</label>
    {{ textarea value=avatar rows=1 cols=100 }}
  </div>

  <button {{ action "update" this }}>Save!</button>
</div>